/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --third-color: rgb(0, 201, 255);
  --first-shadow-color: rgba(0, 0, 0, 0.1);
  --color-white: rgb(255, 255, 255);
  --body-color: rgb(250, 250, 250);
  --dis-color: rgb(102, 102, 102);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}



/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: var(--body-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== 
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top:20px;
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}  */

.section-title {
  margin-top:-20px;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}



/* ----- NAVIGATION BAR ----- */
nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw;
  transition: .3s;
  z-index: 100;
}
.nav-logo{
 position: relative;
}
.nav-name{
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-third);
}
.nav-logo span{
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 5em;
  color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
  display: flex;
  flex-direction: row;
}
.nav-menu .nav_list{
  list-style: none;
  position: relative;
}

.nav-link{
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}
.nav-menu-btn{
  display: none;
}
.nav-menu-btn i{
  font-size: 28px;
  cursor: pointer;
}
.active-link{
  position: relative;
  color: var(--first-color);
  transition: .3;
}
.active-link::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--first-color);
  border-radius: 50%;
}



/* ===== PROJECTS TIMELINE =====*/

.project .timeline {
  position: relative;
  width: 89%;
  margin: auto;
}

.project .timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: #387478;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1.5px;
}

.project .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
  padding-top: 18px;
}

.project .timeline .timeline-item.left {
  left: 0;
  padding-right: 40px;
}

.project .timeline .timeline-item.right {
  left: 50%;
  padding-left: 40px;
}

.project .timeline .timeline-item::after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  top: 35px;
  right: -15px;
  background: #ffffff;
  border: 2px solid #387478;
  border-radius: 16px;
  z-index: 1;
}

.project .timeline .timeline-item.right::after {
  left: -14px;
}
/* 
.project .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}
*/

.project .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}



.project .timeline .timeline-text {
  padding: 20px;
  background: #ffffff;
  position: relative;
  /* border-right: 5px solid #dddddd; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.project .timeline .timeline-item.right .timeline-text {
  border-right: none;
  /* border-left: 5px solid #dddddd; */
}

.project-title {
  font-size: 20px; /* Adjusted size */
  font-weight: bold;
  color: #333;
  margin-bottom: -10px;
  text-align: center; /* Centered */
}

.timeline-date {
  font-size: 14px; /* Date size */
  color: #387478;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  font-size: 14px; /* Date size */
  margin-bottom: 10px;
}

.project .timeline .timeline-item.left .timeline-text p {
  text-align: right;
}

.project .timeline .timeline-item.right .timeline-text p {
  text-align: left;
}

.timeline-text {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.timeline-item:hover .timeline-text {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff9900; /* Button color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px; /* Smaller button */
  transition: background-color 0.3s ease;
}

.more-details:hover {
  background-color: #e68a00; /* Button hover color */
}

.project .timeline .timeline-item.left .timeline-text {
  text-align: right; /* Align all content in the box to the right */
}

.project-description {
  font-size: 14px; /* Description size */
  color:var(--dis-color);
  margin-bottom: 10px;
}


@media (max-width: 767.98px) {
  .project .timeline {
      width: 85%; /* Adjust width for mobile */
      margin: 0 auto; /* Center timeline on mobile */
  }

  .project .timeline::after {
      left: -6px;
  }

  .project .timeline .timeline-item {
      width: 100%; /* Full-width for mobile */
      padding-left: 15px; /* Consistent padding */
      padding-right: 15px; /* Consistent padding */
  }

  .project .timeline .timeline-item.left {
      padding-right: 0;
  }

  .project .timeline .timeline-item.right {
      left: 0%;
      padding-left: 0;
  }

  .project .timeline .timeline-item.left::after, 
  .project .timeline .timeline-item.right::after {
      left: 0;
  }

  .project .timeline .timeline-item.left::before,
  .project .timeline .timeline-item.right::before {
      left: 18px;
      border-color: transparent #dddddd transparent transparent;
  }


  .project .timeline .timeline-item.left .timeline-text,
  .project .timeline .timeline-item.right .timeline-text {
      border-right: none;
      border-left: 5px solid #dddddd;
      text-align: left;
  }

  .project .timeline .timeline-item.left .timeline-text p,
  .project .timeline .timeline-item.right .timeline-text p {
    text-align: left;
  }


  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .blog__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .blog__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}